/* Fonts */
@font-face {
  font-family: "MartianRobotics";
  src: url("./assets/fonts/Martian-Robotics.ttf") format("truetype");
}

@font-face {
  font-family: "MartianMono";
  src: url("./assets//fonts/static/MartianMono-Regular.ttf") format("truetype");
}

/* Import Tailwind */
@import "tailwindcss";

/* Force Light Theme */
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
